:root{
  --text-color: #333;
  --primary-color: #EE4D2D;
}
*{
  box-sizing: inherit;
}
html{
  font-size: 100%;
  line-height: 1rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.grid{
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.grid__full-width{
  width: 100%;
}
.grid__row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.grid__column-2{
  padding-left: 12px;
  padding-right: 12px;
  width: 16.6667%;
}

.grid__column-2-4{
  padding-left: 12px;
  padding-right: 12px;
  width: 20%;
}

.grid__column-10{
  padding-left: 12px;
  padding-right: 12px;
  width: 83.3334%;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes growth{
  from{
    transform: scale(0);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}

.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  animation: fadeIn ease 0.2s;
}

.modal__overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__body{
  background-color: white;
  margin: auto;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  animation: growth ease 0.2s
}

.btn{
  min-width: 142px;
  height: 36px;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0;
  outline: none;
  cursor: pointer;
  display: inline-block;
  align-items: center;
  justify-content: center;
  line-height: 1rem;
}

.btn.btn--primary{
  background-color: var(--primary-color);
  color: white;
}

.btn.btn--disabled{
  cursor: default;
  color: #ccc;
  background-color: #999;
}

.select-input{
  padding: 0 12px;
  height: 34px;
  border-radius: 2px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
