.header{
    height: 120px;
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar__list{
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.navbar__item{
    margin: 0 8px;
    position: relative;
}

.navbar__item,
.navbar__item a{
    display: inline-block;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    font-weight: 300;
}

.navbar__item a:hover,
.navbar__item:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.navbar__item--strong{
    font-weight: 400;
}

.navbar__item--separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    border-left: 1px solid #fb9086;
    right: -9px;
    top:50%;
    transform: translateY(-50%);
}

.navbar__item-has:hover .header__qr,
.navbar__item-has:hover .header__notify{
    display: block;
}

.header__qr{
    background-color: white;
    width: 186px;
    position: absolute;
    left: 0;
    top: 150%;
    border-radius: 2px;
    padding: 8px;
    display: none;
    animation: fadeIn ease 0.5s;
}

.header__qr::before{
    position: absolute;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
    left: 0;
    top: -16px;
}

.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header__qr-download-img{
    height: 18px;
}

.header__notify{
    position: absolute;
    top:150%;
    width: 404px;
    background-color: white;
    right: 0;
    border: 1px solid var(--text-color);
    transform-origin: top right;
    display: none;
    animation: headerNotifyGrowth ease 0.3s;
    will-change: opacity, transform;
}

.header__notify::before{
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    right: 0px;
    top: -28px;
}

.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 150px;
    height: 20px;
}

@keyframes headerNotifyGrowth{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

.header__notify-header{
    height: 40px;
    background-color: white;
}   

.header__notify-header h3{
    color: #666;
    margin:0 0 0 12px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 40px;
}

.header__notify-list{
    padding-left: 0; 
    list-style: none;   
}

.header__notify-item:hover{
    background-color: white;
}

.header__notify-link{
    display: flex;
    padding: 12px;
    width: 100%;
    background-color: rgba(238, 75, 43, 0.1);
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-info{
    color: black;
    display: inline-block;
}

.header__notify-name{
    display: block;
    font-weight: 500;
}


.header__notify-discription{
    display: block;
}


.header__notify-footer{
    text-align: center;
    color: var(--text-color);
    padding: 16px 16px;
}

.auth-form{
    width: 500px;
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
}

.auth-form__form{
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1rem;
    border-radius: 2px;
    outline: none;
    border-color: #dbdbdb;
}

.auth-form__input:focus{
    border-color: #777;
}

.auth-form__aside{
    margin-top: 18px;
}

.auth-form__policy-text{
    font-size: 0.8rem;
    line-height: 1.2rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link{
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__socials{
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    font-size: 0.8rem;
    text-decoration: none;
}

.auth-form__help-separate{
    display: block;
    border-left: 1px solid #ddd;
    height: 36px;
    margin: 4px 16px 0;
}

.header-with-search{
    height: ;
}

.header__logo{
    width: 200px;
}

.header__logo-img{
    width: 50px;
}
