body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav {
    display: inline-block;
}
header h2 {
    display: inline-block;
    margin-left: 2%;
}
header nav a {
    margin-right: 30px;
    color: rgb(63, 63, 63);
    text-decoration: none;
}
.main{
    width: 80%;
    height: 500px;
    background-color: #99e1f6;
    display: inline-block;
    margin-left: 10%;
    margin-top: 2%;
    text-align: center;
}
img{
    height: 40%;
    margin: 20px;
}