/* tablet */
@media (min-width:768px) and (max-width: 1200px){

    .content{
        padding: 0px 40px;
    }

    .content--introduce{
        padding: 38px 80px;
    }
    
    .footer{
        padding: 30px 40px;
        margin: 0px -40px;
    }
    
}


/* mobile */
@media (max-width: 768px){
    #root{
        display: block;
    }
    .barInMobile{
        display: block;
        z-index: 1;
        height: 44px;
        width: 100%;
        background-color: black;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
    }
    .barInMobile div{
        color: white;
        line-height: 44px;
        padding-left: 12px;
        display: inline-block;
    }
    .sidebar{
        display: none;
        min-height: fit-content;
        width: 100%;
        margin-top: 44px;
    }
    .content--logo-img{
        width: 150px;
    }
    .content{
        margin-top: 60px;
        padding: 0px;
        width: 100%;
    }
    .content--introduce{
        padding: 38px 8px;
    }
    .content--list{
        flex-direction: column;
        padding: 0px 12px;
    }
    .content--item + .content--item{
        margin: 20px 0px;
    }
    .footer{
        margin: 0px;
        text-align: center;
        padding: 30px 12px;
    }
}