:root{
    --timNhat:#9548a2;
    --timDam: #773383;
    --vang: #f29a21;
    --xanhLa: #1ea067;
}

* {
  box-sizing: border-box;
}

img{
  display: block;
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
  color: #333;
}

#nav{
    background-color: var(--timDam);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    top:0px;
    width: 100%;
}

#nav__more{
    position: relative;
}

#nav__more:hover #nav__more__list{
    display: block;
}

.nav__list{
    padding-left: 0px;
    margin: 0 0;
}

.nav__item{
    font-size: 1.2em;
    text-transform: uppercase;
    display: inline-block;
}

.nav__item:hover{
    background-color: var(--timNhat);
    animation: nav-item-fade ease 0.5s;
}

@keyframes nav-item-fade{
  from{
    background-color: var(--timDam);
  }
  to{
    background-color: var(--timNhat);
  }
}

.nav__item,
.nav__item a{
    color: white;
    text-decoration: none;
    line-height: 8vh;
}

.nav__item a,
#nav__search,
#nav__menu{
    display: block;
    padding: 0 1em;
}

#nav__search,
#nav__menu:hover{
  cursor: pointer;
}

#nav__more__list{
    position: absolute;
    background-color: var(--timDam);
    left: 0;
    padding: 0px;
    display: none;
    list-style: none;
}

#nav__more__list li:hover{
    background-color: var(--timNhat);
}

#nav__menu{
    display: none;
}

#slider{
  margin-top: 8vh;
  position: relative;
  width: 100%;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 1em;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 3px black;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--xanhLa);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: var(--vang);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

#footer{
  background-color: var(--timDam);
  color: white;
  text-align: center;
  padding: 50px;
}
#footer a{
  color: white;
  font-size: 2em;
}
#footer p{
  margin-bottom: 0px;
}