@media(max-width:739px){
    #nav__menu{
        display: block;
    }
    #nav__search{
        display: none;
    }
    .nav__item{
        display: block;
    }
    #nav{
        height: 8vh;
        overflow: hidden;
    }
    .content__wrap{
        flex-direction: column;
    }
    .content__member img{  
        margin: auto;
        width: 400px;
        max-width: 100%;
    }
    .content__ticket{
        margin: auto;
        margin-top: 20px;
        width: 400px;
        max-width: 100%;
    }
    .content__ticket img{
        width: 400px;
        max-width: 100%;
    }
    .ticket-cost{
        margin: 10px 0 10px 0;
    }
    .content__contact{
        width: 100%;
    }
    .form{
        flex-direction: column;
        margin: 0;
    }
    .contact__form{
        width: 100%;
        margin: 10px 0 10px 0;
    }
    .form-select{
        margin: 10px 0 10px 0;
        padding: 0.5em 0.2em;
    }
    .form-select-label{
        margin-left: 0px;
    }
    .form-label{
        padding: 0;
    }
}

@media(max-height:810px) and (max-width:739px){
    .buy-ticket__header{
        padding: 0;
    }
    .buy-ticket__body{
        padding: 10px;
    }
    .form-select{
        margin: 4px 0 4px 0;
        padding: 2px;
    }
    .contact__form{
        margin: 4px 0 4px 0;
        padding: 2px;
    }
    .ticket-cost{
        margin: 4px 0 4px 0;
    }
}