.Mei{
    background-color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.Mei2{
    text-align: center;
    padding-bottom: 20px;
}
.textSize{
    color: white;
    font-size: 30px;
    margin-inline: 50px;
}
.para{
    display: inline-block;
    width: 600px;
    margin-top: 0px;
}
.img{
    margin-top: 50px;
    width: 45%;
    margin-left: 200px;
}
.img2{
    margin: 40px;
    width: 15%;
    height: 15%;
    opacity: 50%;
}
.parent{
    display: flex;
}