:root{
  --timNhat:#9548a2;
  --timDam: #773383;
  --vang: #f29a21;
  --xanhLa: #1ea067;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
  color: #333;
}
img {
  display: block;
}
#header{
  background-color: var(--timDam);
  height: 46px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

#nav li{
  display: inline-block;
}

#nav li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  line-height: 46px;
  padding: 0 24px;
}

#nav>li:hover>a{
  color: white;
  background-color: var(--timNhat);
}

#more-list{
  display: none;
  position: absolute;
  background-color: var(--timDam);
  color: white;
}

#more:hover #more-list{
  display: block;
}

#more-list li{
  display: block;
}

#more-list li a{
  color: white;
  display: block;
}

#more-list li a:hover{
  background-color: var(--timNhat);
}

#mobile-menu-btn,
#search-button{
  color: white;
  line-height: 46px;
  padding: 0 30px;
  text-align: center;
}

#mobile-menu-btn:hover,
#search-button:hover{
  background-color: var(--timNhat);
}

#mobile-menu-btn{
  display: none;
}

#slider{
  margin-top: 46px;
  position: relative;
  width: 100%;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 2px black;
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--xanhLa);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: var(--vang);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}