@media(min-width:740px) and (max-width:1023px){
    .img-showing{
        top: 20%;
        left: 10%;
        width: 80%;
    }
}

@media(max-width:739px){
    #header{
        overflow: hidden;
    }
    #nav li{
        display: block;
    }
    #search-button{
        display: none;
    }
    #mobile-menu-btn{
        display: inline-block;
    }
    #mobile-menu-btn:hover{
        background-color: black;
        color: orangered;
    }
    #slider-item{
        bottom: 20px;
    }
    #slider-item p{
        font-size: smaller;
    }
    #more-list{
        background-color: orangered;
    }
    #more-list li a{
        color: white;
    }
    #more-list li a:hover{
        background-color: orangered;
    }
    .member-item{
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .place-item{
        margin: 0 auto;
        margin-top: 40px;
        width: 100%;
    }
    .place-item img{
        width: 100%;
    }
    .place-text{
        min-height: 150px;
    }
    .form{
        width: 100%;
        margin-top: 10px;
        margin-left: 0px;
    }
    .img-showing{
        top: 30%;
        left: 5%;
        width: 90%;
    }
}
