#modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.modal-container{
    width: 60%;
    height: 70%;
    background-color: white;
    position: relative;
    top: 15%;
    left: 20%;
    animation: modalAppear ease 0.5s;
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.modal-close:hover{
    background-color: orangered;

}

.modal-header{
    background-color:darkcyan;
    height: 150px;
    color: white;
    letter-spacing: 3px;
    text-align: center;
    line-height: 150px;
}

.modal-body{
    padding: 20px;
}

.modal-input{
    width: 100%;
    padding: 10px;
    margin: 20px 0;
}

#modal-pay{
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: white;
    background-color: darkcyan;
    text-align: center;
    text-transform: uppercase;
    border: none;
}

.modal-close2:hover,
#modal-pay:hover{
    color: black;
    background-color: rgb(184, 184, 184);
}

.modal-close2{
    background-color: orangered;
    color: white;
    width: 80px;
    height: 50px;
    border: none;
}
#modal-task{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

@keyframes modalAppear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#showimages{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.img-showing{
    position: relative;
    top: 20%;
    left: 35%;
    width: 30%;
}