*{
    box-sizing: inherit;
}
:root{
    --text-color: #333;
    --main-color: #EE4D2D;
    --body-color: #f5f5f5;
    --sale-color: #fdd943;
    --shadow-color: 2px 2px 4px rgba(0,0,0,0.2);
    --border-radius: 3px;
    --border-color: #ddd;
    --white-hover: #aaa;
}

html{
    font-size: 100%;
    line-height: 1rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: var(--text-color);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.button{
    border: none;
    padding: 8px;
    background-color: white;
    border-radius: var(--border-radius);
}

.button:hover{
    cursor: pointer;
}

.button--active{
    background-color: var(--main-color);
    color: white;
}

.button--active:hover{
    cursor: pointer;
    filter: brightness(120%);
}

.hidden-box{
    position: absolute;
    z-index: 1;
    background-color: white;
    color: var(--text-color);
    box-shadow: var(--shadow-color);
    display: none;
    top: 25px;
    animation: growUp ease 0.2s;
}

.hidden-box::after{
    content: "";
    position: absolute;
    top: -10px;
    left: 0px;
    height: 10px;
    width: 100%;
}

.hidden-arrow::before{
    content: "";
    border: 10px solid;
    position: absolute;
    top: -19px;
    right: 20px;
    border-color: transparent transparent white transparent;
}

.grid__column-2{
    padding-left: 10px;
    padding-right: 10px;
    width: 16.6667%;
}
.grid__column-2-5{
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;
}
.grid__column-10{
    padding-left: 10px;
    padding-right: 10px;
    width: 83.3334%;
}
@keyframes growUp{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(100%);
    }
}